/* Text styles extracted from Figma:
// Great
color: '#0E0E0E', fontSize: 24, fontFamily: 'Montserrat', fontWeight: '400', lineHeight: 24, wordWrap: 'break-word'
---
// We are finalizing things. This will just<br/>at take a second...
color: '#6C6C6C', fontSize: 16, fontFamily: 'Montserrat', fontWeight: '400', lineHeight: 24, wordWrap: 'break-word'
---
// 19:27
color: '#0E0E0E', fontSize: 15, fontFamily: 'Plus Jakarta Sans', fontWeight: '600', wordWrap: 'break-word'
*/