/* Text styles extracted from Figma:
// Data Analyst
color: '#0E0E0E', fontSize: 12, fontFamily: 'Montserrat', fontWeight: '600', wordWrap: 'break-word'
---
// Cost Controller
color: '#0E0E0E', fontSize: 12, fontFamily: 'Montserrat', fontWeight: '600', wordWrap: 'break-word'
---
// Doc. Controller
color: '#0E0E0E', fontSize: 12, fontFamily: 'Montserrat', fontWeight: '600', wordWrap: 'break-word'
---
// Logistics Mgr
color: '#0E0E0E', fontSize: 12, fontFamily: 'Montserrat', fontWeight: '600', wordWrap: 'break-word'
---
// Buyer
color: '#0E0E0E', fontSize: 12, fontFamily: 'Montserrat', fontWeight: '600', wordWrap: 'break-word'
---
// Contract Mgr
color: '#0E0E0E', fontSize: 12, fontFamily: 'Montserrat', fontWeight: '600', wordWrap: 'break-word'
---
//  Copy Manager
color: '#0E0E0E', fontSize: 12, fontFamily: 'Montserrat', fontWeight: '600', wordWrap: 'break-word'
---
// UX Designer
color: '#0E0E0E', fontSize: 12, fontFamily: 'Montserrat', fontWeight: '600', wordWrap: 'break-word'
---
// Product Analyst
color: '#0E0E0E', fontSize: 12, fontFamily: 'Montserrat', fontWeight: '600', wordWrap: 'break-word'
---
// Sales
color: '#0E0E0E', fontSize: 12, fontFamily: 'Montserrat', fontWeight: '600', wordWrap: 'break-word'
---
// Broadcaster
color: '#0E0E0E', fontSize: 12, fontFamily: 'Montserrat', fontWeight: '600', wordWrap: 'break-word'
---
// Journalist
color: '#0E0E0E', fontSize: 12, fontFamily: 'Montserrat', fontWeight: '600', wordWrap: 'break-word'
---
// Architect
color: '#0E0E0E', fontSize: 12, fontFamily: 'Montserrat', fontWeight: '600', wordWrap: 'break-word'
---
// Legal Officer
color: '#0E0E0E', fontSize: 12, fontFamily: 'Montserrat', fontWeight: '600', wordWrap: 'break-word'
---
// Bidding Specialist
color: '#0E0E0E', fontSize: 12, fontFamily: 'Montserrat', fontWeight: '600', wordWrap: 'break-word'
---
// Sales Executive
color: '#0E0E0E', fontSize: 12, fontFamily: 'Montserrat', fontWeight: '600', wordWrap: 'break-word'
---
// Safety Officer
color: '#0E0E0E', fontSize: 12, fontFamily: 'Montserrat', fontWeight: '600', wordWrap: 'break-word'
---
// Graphic Designer
color: '#0E0E0E', fontSize: 12, fontFamily: 'Montserrat', fontWeight: '600', wordWrap: 'break-word'
---
// 19:27
color: 'white', fontSize: 15, fontFamily: 'Plus Jakarta Sans', fontWeight: '600', wordWrap: 'break-word'
---
// Home
color: '#8C8C8C', fontSize: 12, fontFamily: 'Montserrat', fontWeight: '500', lineHeight: 16, wordWrap: 'break-word'
---
// Skills
color: '#8C8C8C', fontSize: 12, fontFamily: 'Montserrat', fontWeight: '500', lineHeight: 16, wordWrap: 'break-word'
---
// Options
color: '#0863C1', fontSize: 12, fontFamily: 'Montserrat', fontWeight: '600', lineHeight: 16, wordWrap: 'break-word'
---
// Explore
color: '#8C8C8C', fontSize: 12, fontFamily: 'Montserrat', fontWeight: '500', lineHeight: 16, wordWrap: 'break-word'
---
// Spark
color: '#8C8C8C', fontSize: 12, fontFamily: 'Montserrat', fontWeight: '500', lineHeight: 16, wordWrap: 'break-word'
*/