/* Text styles extracted from Figma:
// Hello
color: '#0E0E0E', fontSize: 24, fontFamily: 'Montserrat', fontWeight: '600', wordWrap: 'break-word'
---
// Welcome to SPARK Careers
color: '#0E0E0E', fontSize: 20, fontFamily: 'Montserrat', fontWeight: '500', wordWrap: 'break-word'
---
// With SPARK you can automatically analyze your education and work experience to extract your transferrable skills match these skills to career and job opportunities. <br/><br/>You also gain access to trainings that a curated to help you close any skills gaps identified. 
color: '#6C6C6C', fontSize: 16, fontFamily: 'Montserrat', fontWeight: '300', lineHeight: 24, wordWrap: 'break-word'
---
// Get Started
color: 'white', fontSize: 16, fontFamily: 'Montserrat', fontWeight: '600', wordWrap: 'break-word'
---
// 19:27
color: '#0E0E0E', fontSize: 15, fontFamily: 'Plus Jakarta Sans', fontWeight: '600', wordWrap: 'break-word'
*/