/* Text styles extracted from Figma:
// LinkedIn Jobs Lists
color: '#0E0E0E', fontSize: 16, fontFamily: 'Montserrat', fontWeight: '500', wordWrap: 'break-word'
---
// Indeed Jobs Lists
color: '#0E0E0E', fontSize: 16, fontFamily: 'Montserrat', fontWeight: '500', wordWrap: 'break-word'
---
// Monster Course Lists
color: '#0E0E0E', fontSize: 16, fontFamily: 'Montserrat', fontWeight: '500', wordWrap: 'break-word'
---
// GlassDoor Jobs Lists
color: '#0E0E0E', fontSize: 16, fontFamily: 'Montserrat', fontWeight: '500', wordWrap: 'break-word'
---
// Workopolis Jobs Lists
color: '#0E0E0E', fontSize: 16, fontFamily: 'Montserrat', fontWeight: '500', wordWrap: 'break-word'
---
// Home
color: '#8C8C8C', fontSize: 12, fontFamily: 'Montserrat', fontWeight: '500', lineHeight: 16, wordWrap: 'break-word'
---
// Skills
color: '#8C8C8C', fontSize: 12, fontFamily: 'Montserrat', fontWeight: '500', lineHeight: 16, wordWrap: 'break-word'
---
// Options
color: '#8C8C8C', fontSize: 12, fontFamily: 'Montserrat', fontWeight: '500', lineHeight: 16, wordWrap: 'break-word'
---
// Explore
color: '#8C8C8C', fontSize: 12, fontFamily: 'Montserrat', fontWeight: '500', lineHeight: 16, wordWrap: 'break-word'
---
// Spark
color: '#0863C1', fontSize: 12, fontFamily: 'Montserrat', fontWeight: '600', lineHeight: 16, wordWrap: 'break-word'
---
// 19:27
color: 'white', fontSize: 15, fontFamily: 'Plus Jakarta Sans', fontWeight: '600', wordWrap: 'break-word'
*/