/* Text styles extracted from Figma:
// 19:27
color: '#0E0E0E', fontSize: 15, fontFamily: 'Plus Jakarta Sans', fontWeight: '600', wordWrap: 'break-word'
---
// Enter Previous and Current Job Titles
color: '#0E0E0E', fontSize: 16, fontFamily: 'Montserrat', fontWeight: '500', wordWrap: 'break-word'
---
// Value
color: '#9997A1', fontSize: 14, fontFamily: 'Montserrat', fontWeight: '400', wordWrap: 'break-word'
---
// Enter Academic Degrees You Hold
color: '#0E0E0E', fontSize: 16, fontFamily: 'Montserrat', fontWeight: '500', wordWrap: 'break-word'
---
// Value
color: '#9997A1', fontSize: 14, fontFamily: 'Montserrat', fontWeight: '400', wordWrap: 'break-word'
---
// Enter Your Professional Certifications
color: '#0E0E0E', fontSize: 16, fontFamily: 'Montserrat', fontWeight: '500', wordWrap: 'break-word'
---
// Value
color: '#9997A1', fontSize: 14, fontFamily: 'Montserrat', fontWeight: '400', wordWrap: 'break-word'
---
// Share Links to your Professional Profile
color: '#0E0E0E', fontSize: 16, fontFamily: 'Montserrat', fontWeight: '500', wordWrap: 'break-word'
---
// LinkedIn URL
color: '#9997A1', fontSize: 14, fontFamily: 'Montserrat', fontWeight: '400', wordWrap: 'break-word'
---
// Submit
color: 'white', fontSize: 16, fontFamily: 'Montserrat', fontWeight: '600', wordWrap: 'break-word'
*/