/* Text styles extracted from Figma:
// Select Work Experience
color: '#0E0E0E', fontSize: 16, fontFamily: 'Montserrat', fontWeight: '500', wordWrap: 'break-word'
---
// Value
color: '#9997A1', fontSize: 14, fontFamily: 'Montserrat', fontWeight: '400', wordWrap: 'break-word'
---
// Select Academic Achievement
color: '#0E0E0E', fontSize: 16, fontFamily: 'Montserrat', fontWeight: '500', wordWrap: 'break-word'
---
// Value
color: '#9997A1', fontSize: 14, fontFamily: 'Montserrat', fontWeight: '400', wordWrap: 'break-word'
---
// Select Skill Acquired
color: '#0E0E0E', fontSize: 16, fontFamily: 'Montserrat', fontWeight: '500', wordWrap: 'break-word'
---
// Value
color: '#9997A1', fontSize: 14, fontFamily: 'Montserrat', fontWeight: '400', wordWrap: 'break-word'
---
// Message
color: '#0E0E0E', fontSize: 16, fontFamily: 'Montserrat', fontWeight: '500', wordWrap: 'break-word'
---
// Message
color: '#9997A1', fontSize: 14, fontFamily: 'Montserrat', fontWeight: '400', wordWrap: 'break-word'
---
// Submit
color: 'white', fontSize: 16, fontFamily: 'Montserrat', fontWeight: '600', wordWrap: 'break-word'
*/