/* Text styles extracted from Figma:
// Sign Up
color: '#0E0E0E', fontSize: 32, fontFamily: 'Montserrat', fontWeight: '700', wordWrap: 'break-word'
---
// Name
color: '#0E0E0E', fontSize: 16, fontFamily: 'Montserrat', fontWeight: '500', wordWrap: 'break-word'
---
// Enter your full name
color: '#9997A1', fontSize: 14, fontFamily: 'Montserrat', fontWeight: '400', wordWrap: 'break-word'
---
// Email
color: '#0E0E0E', fontSize: 16, fontFamily: 'Montserrat', fontWeight: '500', wordWrap: 'break-word'
---
// Enter your email address
color: '#9997A1', fontSize: 14, fontFamily: 'Montserrat', fontWeight: '400', wordWrap: 'break-word'
---
// Pasword
color: '#0E0E0E', fontSize: 16, fontFamily: 'Montserrat', fontWeight: '500', wordWrap: 'break-word'
---
// Enter your password
color: '#9997A1', fontSize: 14, fontFamily: 'Montserrat', fontWeight: '400', wordWrap: 'break-word'
---
// Sign Up
color: 'white', fontSize: 16, fontFamily: 'Montserrat', fontWeight: '600', wordWrap: 'break-word'
---
// or
color: '#9997A1', fontSize: 16, fontFamily: 'Montserrat', fontWeight: '400', wordWrap: 'break-word'
---
// 19:27
color: '#0E0E0E', fontSize: 15, fontFamily: 'Plus Jakarta Sans', fontWeight: '600', wordWrap: 'break-word'
*/